.container {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  /* justify-content: center; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
}

.box {
  background-color: #2872fa;
  width: 60px;
  height: 60px;
  border: rgb(11, 25, 221) 1px solid;
}

/* .box:first-child {
  margin-right: auto;
}

.box:last-child {
  margin-left: auto;
} */
