.scroll-container {
  width: 300px;
  height: 250px;
  overflow-y: scroll;
  margin: 50px auto;
  padding: 20px;
}

.scroll-container::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #1b61e2;
  height: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #a7a1a1;
  cursor: pointer;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
