.container {
  width: 85%;
  margin: 120px 30px auto 20px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.form-label {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  background-color: white;
  padding: 0 0.25rem;
  color: #aaa;
  transition: all 0.2s;
  pointer-events: none;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  top: -0.5rem;
  left: 0.75rem;
  background-color: white;
  padding: 0 0.25rem;
  color: #007bff;
  font-size: 0.75rem;
}
