body{
    background-color: #181717;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.button,
.gradient-button,
.wave-button {
  display: inline-block;
  margin: 10px;
}

.button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0c3f75;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.button::before {
  transform: translateX(-100%);
}

.button::after {
  transform: translateX(100%);
}

.button:hover::before,
.button:hover::after {
  transform: translateX(0);
}

.gradient-button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0d6dad;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.gradient-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 150, 0.3),
    rgba(1, 212, 82, 0.3)
  );
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: 1;
}

.gradient-button:hover::before {
  opacity: 1;
}

.wave-button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  background-color: #e9ec09;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.wave-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300%;
  height: 300%;
  background: radial-gradient(
    circle,
    rgba(5, 24, 199, 0.3),
    rgba(90, 230, 8, 0)
  );
  transition: width 0.4s, height 0.4s, opacity 0.4s;
  opacity: 0;
}

.wave-button:hover::before {
  width: 0;
  height: 0;
  opacity: 1;
}
