.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.typing-text {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: typing 3s steps(40, end)
  , blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
