* {
  margin: 0;
  box-sizing: border-box;
}

.canvas {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  overflow: hidden;
}
.canvas .cube-wrapper {
  perspective: 1000px;
  filter: drop-shadow(0px 20px 60px rgba(255, 255, 255, 0.2));
}
.canvas .cube-wrapper .cube {
  width: clamp(150px, 40vw, 400px);
  height: clamp(150px, 40vw, 400px);
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 8s infinite linear;
  border-radius: 0px;
}
.canvas .cube-wrapper .cube .side {
  position: absolute;
  width: clamp(150px, 40vw, 400px);
  height: clamp(150px, 40vw, 400px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  border: 1px solid #fff;
  border-radius: 0px;
  background-size: cover;
  background-position: center center;
  filter: contrast(1.1);
  transition: 200ms;
}
.canvas .cube-wrapper .cube .side:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.canvas .cube-wrapper .cube .side.front {
  background-color: #ff7f0e;
  background-image: url("https://images.pexels.com/photos/667225/pexels-photo-667225.jpeg?auto=compress&cs=tinysrgb&w=640&h=640&dpr=1");
  transform: translateZ(calc(clamp(150px, 40vw, 400px) / 2));
}
.canvas .cube-wrapper .cube .side.back {
  background-color: #2ca02c;
  background-image: url("https://images.pexels.com/photos/11702792/pexels-photo-11702792.jpeg?auto=compress&cs=tinysrgb&w=640&h=640&dpr=1");
  transform: rotateY(180deg) translatÏeZ(calc(clamp(150px, 40vw, 400px) / 2));
}
.canvas .cube-wrapper .cube .side.left {
  background-color: #1f77b4;
  background-image: url("https://images.pexels.com/photos/6473147/pexels-photo-6473147.jpeg?auto=compress&cs=tinysrgb&w=640&h=640&dpr=1");
  transform: rotateY(-90deg) translateZ(calc(clamp(150px, 40vw, 400px) / 2));
}
.canvas .cube-wrapper .cube .side.right {
  background-color: #d62728;
  background-image: url("https://images.pexels.com/photos/11512740/pexels-photo-11512740.jpeg?auto=compress&cs=tinysrgb&w=640&h=640&dpr=1");
  transform: rotateY(90deg) translateZ(calc(clamp(150px, 40vw, 400px) / 2));
}
.canvas .cube-wrapper .cube .side.top {
  background-color: #9467bd;
  background-image: url("https://images.pexels.com/photos/17081254/pexels-photo-17081254.jpeg?auto=compress&cs=tinysrgb&w=640&h=640&dpr=1");
  transform: rotateX(90deg) translateZ(calc(clamp(150px, 40vw, 400px) / 2));
}
.canvas .cube-wrapper .cube .side.bottom {
  background-color: #8c564b;
  background-image: url("https://images.pexels.com/photos/3151186/pexels-photo-3151186.jpeg?auto=compress&cs=tinysrgb&w=640&h=640&dpr=1");
  transform: rotateX(-90deg) translateZ(calc(clamp(150px, 40vw, 400px) / 2));
}
@keyframes rotate {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
.canvas .toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.canvas .toggle-button .play-icon,
.canvas .toggle-button .pause-icon {
  width: 100%;
  height: 100%;
  fill: #fff;
}
